<li id = 'comment-<%=comment.id%>'>
    <div>
        <p>
            <% if (locals.user && locals.user.id == comment.user.id){ %>
            <small>
                <a id="delete-comment-button" href="/comment/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
        </p>
        <p>
            <span>likes count</span>
            <a class ='togge-like' href="/like/toggle/?id=<%=comment._id%>&type=comment">click</a>
        </p>
    </div>
</li>